<div class="user-details">
<center>
  <h1>Certifications</h1>

  <table cellspacing="13">
    <tr>
        <td>Linux Foundation</td>
        <td>Certified Kubernetes Security Specialist (CKS)</td>
        <td><a href="https://www.credly.com/badges/c6944b98-78c1-4144-a06e-e0e696a2382c" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>
    <tr>
        <td>Linux Foundation</td>
        <td>Certified Kubernetes Administrator (CKA)</td>
        <td><a href="https://www.credly.com/badges/c6e91f0a-30cd-47cb-addf-eb8c8b6512a1" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>
    <tr>
        <td>Linux Foundation</td>
        <td>Certified Kubernetes Application Developer (CKAD)</td>
        <td><a href="https://www.credly.com/badges/8d81984d-024d-4905-b484-1ac150bb21e3" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>
    <tr>
        <td>Linux Foundation</td>
        <td>Kubernetes and Cloud Native Associate (KCNA)</td>
        <td><a href="https://www.credly.com/badges/534a17f6-7768-4cdc-bcac-b269cad263b9" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>
    <tr>
        <td>Linux Foundation</td>
        <td>Kubernetes and Cloud Native Security Associate (KCSA)</td>
        <td><a href="https://www.credly.com/badges/3e5bc158-2cfc-479d-aba8-3513ef16c88a" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>    
    <tr>
        <td>Hashicorp</td>
        <td>Certified Terraform Associate</td>
        <td><a href="https://www.credly.com/badges/d9aa2723-bac7-44c1-b54f-fef2855bf1e7" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>    
    <tr>
        <td>AWS</td>
        <td>Certified Cloud Practitioner</td>
        <td><a href="https://www.credly.com/badges/d575a7c9-500d-460e-98f4-7d33f69e7a48" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>      
    <tr>
        <td>TM Forum</td>
        <td>Open Digital Framework Foundation Level</td>
        <td><a href="https://www.tmforum.org/training-certification-leaderboard/exams-search/?sf_leaderboard_search%5Bindividual%5D=sameer+mene&sf_leaderboard_search%5Bemail%5D=&sf_leaderboard_search%5Bcompany%5D=&sf_leaderboard_search%5Bcertification%5D=" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>           
    <tr>
        <td>TM Forum</td>
        <td>Information Framework (SID) Foundation Level</td>
        <td><a href="https://www.tmforum.org/training-certification-leaderboard/exams-search/?sf_leaderboard_search%5Bindividual%5D=sameer+mene&sf_leaderboard_search%5Bemail%5D=&sf_leaderboard_search%5Bcompany%5D=&sf_leaderboard_search%5Bcertification%5D=" target="_blank" rel="noopener noreferrer">Verify</a></td>
    </tr>              
    <tr>
        <td>Oracle</td>
        <td>Sun Certified Java Programmer (SCJP)</td>
        <td>-</td>
    </tr>        
  </table>
  <div class="user">
  <div class="tech">
    <!-- kubestronaut -->
    <img src="/assets/images/kubestronaut.png" height="200px" width="200px"/>
    <br>

    <!-- cks, cka, ckad, kcna, kcsa -->
    <img src="/assets/images/cks.png" height="100px" width="100px"/>
    <img src="/assets/images/cka.png" height="100px" width="100px"/>
    <img src="/assets/images/ckad.png" height="100px" width="100px"/>
    <img src="/assets/images/kcsa.png" height="100px" width="100px"/>
    <img src="/assets/images/kcna.png" height="100px" width="100px"/>
    <br>
    <!-- terraform associate -->
    <img src="/assets/images/terra-asssoc.png" height="110px" width="120px"/>
    <img src="/assets/images/awscp.png" height="110px" width="120px"/>

    <!-- aws cloud prac -->  
  </div>
 </div>
 </div>
</center>
</div>
